/* Footer Styles */
:host {
    display: block;
    margin-top: auto;
}

.footer {
    background-color: var(--primary-color);
    color: #94a3b8;
    /* Slate 400 */
    padding: 2rem 0;
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer p {
    margin: 0;
}